@import "tailwindcss";

@theme {
  /* Les variables de style cartoon */
  --font-cartoon: "Bangers", system-ui;
  --font-body: "Fredoka", sans-serif;
  --shadow-cartoon: 12px 12px 0px 0px rgba(0,0,0,1);
}
